@page
@model AutomationCDA.App.Webapp.ListaTodasLasPersonasModel
@{
    ViewData["Title"] = "Listado de personas";
    ViewData["script"] = "personasListado.js"; 
}
<head>
<link rel="stylesheet" href="~/css/customPersonas.css"/>
</head>

<body class="fs-4">

        <div class="container col-12">
              <h1 class="text-center">Listado de Personas</h1>
            
            <div class="row row-cols-auto d-flex justify-content-center">
                <div class="col">
                    <a class="colorcustom" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                        aria-controls="offcanvasExample">
                        Menu
                    </a>
                </div>
                <div class="col">
                    <p>/</p>
                </div>
                <div class="col">
                    <a class="colorcustom" aria-current="page">
                        Consultar Personas
                    </a>
                </div>
            </div>
            <div class="offcanvas offcanvas-start colorcustom" tabindex="-1" id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header border-white border-bottom">
                    <h5 class="offcanvas-title  " id="offcanvasExampleLabel">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body border-bottom ">
                    <div class="d-grid gap-3 col-10 mx-auto ">
                    
                        <a href="./AgregarPersonas"
                            class=" btn colotbtncustom text-center border-bottom shadow-lg p-3">
                            <span class="material-icons  d-inline">
                                settings
                            </span>
                            <h3 class="d-inline">Agregar Personas</h3>
                        </a>

                        <a href="../index.html"
                            class=" btn btn-danger colorcustom text-center border-bottom shadow-lg p-3">
                            <span class="material-icons  d-inline">
                                headset_mic
                            </span>
                            <h3 class="d-inline">
                                Cerrar Sesion
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container col-12" style="width:100%">
              <div class="table-responsive">
                <table class="table" id="tablaPersonas">
                <thead>
                    <tr>
                        <th>Id</div></th>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Direccion</th>
                        <th>N. Estudios</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach( var persona in Model.listadoPersonas){
                        <tr>
                            <td>@persona.Id</td>
                            <td>@persona.Cedula</td>
                            <td>@persona.Nombre</td>
                            <td>@persona.Apellidos</td>
                            <td>@persona.Telefono</td>
                            <td>@persona.CorreoElectronico</td>
                            <td>@persona.Direccion</td>
                            <td>@persona.NivelEstudios</td>
                            <td><a class="btn btn-primary table-btn" id="editarPersona">
                                    <i class="far fa-edit"></i>Editar</a></td>
                            <td><a class="btn btn-secondary"><i class="far fa-remove"></i>Eliminar</a></td>
                                
                        </tr>
                    }
                </tbody>
            </table>
           </div> <!-- responsive  -->
            </div>
        </div>

    <script src="../js/bootstrap.min.js"></script>
    <script src="js/ocultar.js"></script>
</body>
   
<!--  
Modales
-->


<!-- Modal Actualizar -->
<div class="modal" tabindex="-1" role="dialog" id="modalEditar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar personas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="post" action="" id="formularioEditar">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="id" name="id">
                        <div class="form-grow  mb-3">
                            <label for="cedula">Cedula </label>
                            <input type="text" class="form-control" id="cedula" name="cedula"
                                placeholder="Digite su cedula" minlegth="5" maxlegth="50">
                        </div>
                        <div class="form-grow  mb-3">
                            <label for="nombre">Nombre </label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                placeholder="Digite su nombre" minlegth="5" maxlegth="50">
                        </div>
                        <div class="form-grow mb-3">
                            <label for="apellidos">Apellidos </label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos"
                                placeholder="Digite su apellido" minlegth="5" maxlegth="50">
                        </div>
                        <div class="form-grow mb-3">
                            <label for="telefono">Teléfono </label>
                            <input type="numer" class="form-control" id="telefono" name="telefono"
                                placeholder="Digite su teléfono" minlegth="5" maxlegth="50">
                        </div>
                        <div class="form-grow mb-3">
                            <label for="correoElectronico">Correo Electrónico </label>
                            <input type="email" class="form-control" id="correoElectronico" name="correoElectronico"
                                placeholder="Digite su correo electrónico" minlegth="5" maxlegth="50">
                        </div>
                        <div class="form-grow  mb-3">
                            <label for="direccion">Dirección de Residencia </label>
                            <input type="text" class="form-control" id="direccion" name="direccion"
                                placeholder="Digite su dirección de residencia" minlegth="5" maxlegth="50">
                        </div>
                        <div class="form-group  mb-3">
                            <label for="nivelestudios">Nivel Estudios</label>
                            <select class="form-control" id="nivelestudios" name="nivelestudios">
                                <option value="" selected="selected">Seleccione....</option>
                                <option>Primaria</option>
                                <option>Secundaria</option>
                                <option>Pregrado</option>
                                <option>Postgrado</option>
                                <option>Maestría</option>
                            </select>
                        </div>                                                                              
                    </form>
                    <br>
                    <br>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnActualizar">Actualizar</button>
        <button type="reset" class="btn btn-secondary">Limpiar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalEliminar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Persona</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="post" action="" id="formularioEliminar">
                        @Html.AntiForgeryToken()
                <!--        
                        <input type="hidden" id="id" name="id">
                        <div class="form-grow  mb-3">
                            <label for="cedula">Cedula </label>
                            <input type="text" class="form-control" id="cedula" name="cedula"
                                placeholder="Digite su cedula" minlegth="5" maxlegth="50">
                        </div>
                        <div class="form-grow  mb-3">
                            <label for="nombre">Nombre </label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                placeholder="Digite su nombre" minlegth="5" maxlegth="50">
                        </div>
                        <div class="form-grow mb-3">
                            <label for="apellidos">Apellidos </label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos"
                                placeholder="Digite su apellido" minlegth="5" maxlegth="50">
                        </div>
                        <div class="form-grow mb-3">
                            <label for="telefono">Teléfono </label>
                            <input type="numer" class="form-control" id="telefono" name="telefono"
                                placeholder="Digite su teléfono" minlegth="5" maxlegth="50">
                        </div>
                        <div class="form-grow mb-3">
                            <label for="correoElectronico">Correo Electrónico </label>
                            <input type="email" class="form-control" id="correoElectronico" name="correoElectronico"
                                placeholder="Digite su correo electrónico" minlegth="5" maxlegth="50">
                        </div>
                        <div class="form-grow  mb-3">
                            <label for="direccion">Dirección de Residencia </label>
                            <input type="text" class="form-control" id="direccion" name="direccion"
                                placeholder="Digite su dirección de residencia" minlegth="5" maxlegth="50">
                        </div>
                        <div class="form-group  mb-3">
                            <label for="nivelestudios">Nivel Estudios</label>
                            <select class="form-control" id="nivelestudios" name="nivelestudios">
                                <option value="" selected="selected">Seleccione....</option>
                                <option>Primaria</option>
                                <option>Secundaria</option>
                                <option>Pregrado</option>
                                <option>Postgrado</option>
                                <option>Maestría</option>
                            </select>
                        </div>     -->                                                                         
                    </form>
                    <br>
                    <br>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <div>
        <p>¿Desea eliminar la persona?</p>
        </div>
        <button type="button" class="btn btn-primary" id="btnSiEliminar">SI</button>
        <button type="reset" class="btn btn-secondary" id="btnNoEliminar">NO</button>
      </div>
    </div>
  </div>
</div>
